pandas
s3fs==2021.8.1
gcsfs==2021.8.1
fsspec
pytest
click
python-dateutil
moto[ecs,s3,server]
boto3==1.17.106
botocore==1.20.106
geopandas
shapely
sentry-sdk
sqlalchemy
numpy
rasterio
requests
beautifulsoup4
pytest
