pandas
botocore==1.27.59
boto3==1.24.59
aiobotocore~=2.4.0
s3fs==2022.11.0
gcsfs==2022.11.0
fsspec==2022.11.0
pytest
click
python-dateutil
dhis2.py
moto[ecs,s3,server]~=3.0.0
geopandas
pandas
shapely
sentry-sdk
pytest
requests
requests-cache
